version: "3.8"

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ambitiousYou_nextjs
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    # environment:
    #   DATABASE_URL: postgres://hemant:hemant_at_AmbitiousYouDB_9045@postgres:5432/ambitiousYouLocalDB
    depends_on:
      postgres:
        condition: service_healthy
